<%- include('partials/header') -%>

<main class="container">
  <h1 class="row justify-content-around mt-5 mb-5">Admin Login Page</h1>
  <div class="row justify-content-around mt-5">
    <a href="/admin/login" class="col-3 btn btn-primary"> Login</a>
    <a href="/admin/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
    

<%- include('partials/footer') -%>